* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 1fr auto;
  gap: 4px;
  height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
}

.menu{
  width: 100%;
}

.menu > ul{
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  width: 100%;
  place-items: center;
}

.logo{
  justify-self: left;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-column: 1 / 2;
  display: grid;
  grid-area: 2 / 1 / 4 / 2;
  grid-template-rows: repeat(auto-fit, minmax(50px, auto));
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  width: 100%;
  place-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / 3;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 5 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}